:host{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
li{
  margin-right: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.crumbs_btn{
  font-family: inherit;
  font-size: 20px;
  background-color: #ffffff;
  border-radius: 6px;
  color: #606060;
  border: 1px solid #606060;
  justify-self: end;
  width: 100px;
  height: 40px;

}
.crumbs_btn:active{

  position: relative;
  top: 1px
}
