<div class="signUp__wrapper">
  <div class="signUp__card">
    <div class="card__header"><p>SIGN UP</p></div>
    <div class="card__body">

      <form [formGroup]="signUpForm" (ngSubmit)="submitSignUp()" class="signUp__form">
        <div class="form__input_group">
          <label for="typeUsernameID">Username</label><br>
          <input formControlName="username" type="text" id="typeUsernameID">
          <p *ngIf="this.signUpForm.get('username')?.invalid && this.signUpForm.get('username')?.touched">Username is required</p>
        </div>
        <div class="form__input_group">
          <label for="typeEmailID">Email</label><br>
          <input formControlName="email" type="email" id="typeEmailID">
          <p *ngIf="this.signUpForm.get('email')?.invalid && this.signUpForm.get('email')?.touched">Email is required</p>
        </div>
        <div class="form__input_group">
          <label for="typePasswordID">Password</label><br>
          <input formControlName="password" type="password" id="typePasswordID">
          <p *ngIf="this.signUpForm.get('password')?.invalid && this.signUpForm.get('password')?.touched">Password is
            required (min. length is 8)</p>
        </div>
        <button
          [ngClass]="{signUp_form__btn_hover:!signUpForm.invalid}"
          [disabled]="signUpForm.invalid"
          type="submit"
          (click)="postNewUser(this.signUpForm.value)"
        >
          Sign Up
        </button>
      </form>

      <div class="signUp__link">
        <p>Are you already have account? <a routerLink="../login">Sign In</a></p>
      </div>
    </div>
  </div>
</div>
