<div class="addBoard__card">
  <span style="font-size: 50px">&#43;</span>
  <p style="font-size: 18px">Add new board</p>
</div>
<ng-container *ngFor="let board of listOfTheBoard">
  <app-board
    []
    [nameOfBoard]="board.name"
    [dateOfTheCreation]="board.created_date"
    [board_id]="board._id"
  ></app-board>
</ng-container>
