:host{
  margin: 5% 50px;
  display: flex;
  flex-wrap: wrap;

}
.addBoard__card{
  width: 200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  border: 1px solid #a2a2a2;
  border-radius: 5%;
  margin: 0 5px 5px 5px;
  padding: 5px;
}
