.header{
  width: 100%;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: space-between ;

  font-size:32px;

  color: white;
  background-color: #606060;

  box-shadow: 0px 6px 12px 5px rgba(0, 0, 0, 0.2);
}
.header__navbar{
  margin: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;

}
.signout_button {
  font-family: inherit;
  font-size: 20px;
  background-color: #606060;
  border-radius: 6px;
  color: white;
  border: 1px solid #ffffff;
justify-self: end;
  width: 100px;
  height: 40px;
  justify-self: center;
  margin-left: auto;
}
.signout_button:active {
  background-color: #a2a2a2;
  border: 1px solid #ffffff;
  position: relative;
  top: 1px
}
