:host{
  width: 200px;
  height: 150px;
  border: 1px solid #a2a2a2;
  border-radius: 5%;
  margin: 0 5px 5px 5px ;
  padding: 5px;
}
.board__btn{
  font-family: inherit;
  font-size: 20px;
  background-color: #606060;
  border-radius: 6px;
  color: white;
  border: 1px solid #ffffff;
  margin-right: 10px;
  width: 70px;
  height: 40px;

  margin-left: auto;
}
.board__btn:active {
  background-color: #a2a2a2;
  border: 1px solid #ffffff;
  position: relative;
  top: 1px
}
