<h2>{{nameOfBoard}}</h2>
<p>{{dateOfTheCreation|date:'M/d/yy'}}</p>
<button class="board__btn" (click)="deleteBoard(board_id)" >Delete</button>
<!--<button class="board__btn" (click)="editBoard(board_id)">Edit</button>-->
