.login__wrapper {
  margin-top: 10%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;


  .login__card {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 500px;
    border: gray;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.2);

    .card__header {
      color: white;
      background-color: #606060;

      p {
        text-align: center;
        font-size: 32px;
        margin: 0;
        padding: 5%;
      }
    }

    .card__body {
      font-size: 18px;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      font-family: 'Questrial', 'sans-serif';

      .login__form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;

        button {
          font-family: inherit;
          font-size: inherit;
          background-color: #606060;
          border-radius: 6px;
          color: white;
          border: 1px solid #606060;

          width: 100px;
          height: 60px;
          justify-self: center;
          margin: 15px auto 15px
        }

        .login_form__btn_hover:active {
          background-color: #a2a2a2;
          border: 1px solid #a2a2a2;
          position: relative;
          top: 1px
        }

        .form__input_group {
          p {
            margin: 5px auto;
            font-size: 14px;
            color: #d25252;
          }

          input {
            margin-top: 5px;
            width: 50%;
            height: 40px;
            border: 1px solid #bdbdbd;
            border-radius: 3%;
            font-family: inherit;
            font-size: inherit;
          }

          margin-top: 15px;
          text-align: center;

          input:focus {
            outline: none;
          }
        }
      }
      .login__link{
        text-align: center;
      }
    }


  }


}


