<div class="login__wrapper">
  <div class="login__card">
    <div class="card__header"><p>LOGIN</p></div>
    <div class="card__body">

      <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="login__form">
        <div class="form__input_group">
          <label for="typeEmailID">Email</label><br>
          <input formControlName="email" type="email" id="typeEmailID">
          <p *ngIf="this.loginForm.get('email')?.invalid && this.loginForm.get('email')?.touched">Email is required</p>
        </div>
        <div class="form__input_group">
          <label for="typePasswordID">Password</label><br>
          <input formControlName="password" type="password" id="typePasswordID">
          <p *ngIf="this.loginForm.get('password')?.invalid && this.loginForm.get('password')?.touched">Password is
            required (min. length is 8)</p>
        </div>
        <button
                [ngClass]="{login_form__btn_hover:!loginForm.invalid}"
                [disabled]="loginForm.invalid"
                type="submit"

        >
          Login
        </button>
      </form>
      <div class="login__link">
        <p>Don't have an account? <a routerLink="../registration">Sign Up</a></p>
      </div>

    </div>
  </div>
</div>
