.not-found__wrapper{
  margin-top: 10%;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found__card{
  border-radius: 5%;
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.2);
  width: 300px;
  min-height: 200px;
  background-color: #bebebe;
  display: flex;
  justify-content: center;
  align-items: center;
}

